body{
    background-image: url("../images/brain_bg.jpeg");
    background-repeat: repeat;
    background-size: cover;
    }

    h1, h2{
        text-align: center;
        font-family: 'Ruslan Display', cursive;
        color:purple;
        font-weight: bolder;
        margin:20px;

    }

    .jumbotron{
        height:100%;
        width: 870px;

    }
    #startB, #startOverB{
        width:360px;
    }

    #startB:hover{
        background-color: lightpink;
    }

    #questionSpace{
        font-family: 'Work Sans', sans-serif;
        font-size:35px;
        text-align: center;
        margin-top:30px;
        color: blue;
    }

    .list-group-item{
        height:80px;
        font-size:20px;
    }

    .opts:hover {
        background-color:yellow;
    }

  .opt{
      height:45px;
      font-size:20px;
      width:360px;
      text-justify: auto;
  }
  .opts{
      text-align:center;
  }

  img{
      height: 300px;
      width:360px;
      margin-top:45px;
  }



 #msgSpaceID{
     text-align: center;
     font-family: 'Work Sans', sans-serif;
    font-size:35px;
    margin:30px;

 }
 